@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.floating {
  animation: movebounce 5s infinite;
}

@keyframes movebounce {
  0% {
    transform: translateY(30px);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(30px);
  }
}
